{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="{% static 'img/icon/icon.jpg' %}" type="image/x-icon">
    <script src="{% static 'js/my.js' %}"></script>
</head>
<body>
    <header class="p-3 bg-dark">
        <div class="container hello-wallet">
            <img id="icon" src="{% static 'img/icon/icon.jpg' %}" alt="icon" width="40" height="40">
            <span class="text-white"> : Hello {{ username }}, your wallet is remaining ￡{{ wallet }}        </span>
            <a href="#" class="btn btn-primary bi-currency-pound" data-bs-toggle="modal" data-bs-target="#topUp">Top-Up</a>
                <div class="modal fade" id="topUp" tabindex="-1" aria-labelledby="topUpLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="topUpLabel">Enter the amount you want to add</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="topUpForm">
                                    {% csrf_token %}
                                    <label for="money">Amount of money</label>
                                    <input type="number" class="form-control" id="money" name="money" step="0.01" required>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="submitTopUpForm()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </header>
    <div class="main-container">
        <div class="home-button-images">
            <div class="home-button-container">
                <a href="#" class="bi bi-person-circle" data-bs-toggle="modal" data-bs-target="#profileAndWallet">Profile</a>
                    <div class="modal fade" id="profileAndWallet" tabindex="-1" role="dialog" aria-labelledby="profileAndWalletLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="profileAndWalletLabel">Profile</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- 表单 -->
                                    <form id="profileAndWalletForm">
                                        <!-- CSRF Token -->
                                        {% csrf_token %}
                                        <div>
                                            <label for="username">Username: </label>
                                            <input type="text" id="modal_username" name="username" value="{{ request.user.username }}" disabled>
                                            <button type="button" class="btn btn-primary" onclick="enableInput('modal_username')">Edit</button>
                                        </div>
                                        <div>
                                            <label for="email">Email:</label>
                                            <input type="email" id="modal_email" name="email" value="{{ request.user.email }}" disabled>
                                            <button type="button" class="btn btn-primary" onclick="enableInput('modal_email')">Edit</button>
                                        </div>
                                        <div>

                                            <label for="old_password">Old Password:</label>
                                            <input type="password" id="old_password" name="old_password" required>
                                            <button type="button" class="btn btn-primary" onclick="verifyOldPassword()">Confirm</button>
                                        </div>
                                        <div>
                                            <label for="new_password">New Password:</label>
                                            <input type="password" id="new_password" name="new_password" disabled required>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" onclick="profileAndWalletForm()">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Modal Trigger -->
                <a href="#" class="bi bi-cart-fill" data-bs-toggle="modal" data-bs-target="#cartModal">My Cart</a>
                    <!-- Modal Structure -->
                    {% csrf_token %}
                    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cartModalLabel">My Cart</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Items will be dynamically inserted here -->
                                    <div id="cartItemsContainer">
                                        <!-- Dynamic content goes here -->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <h5 id="totalPrice">Total Price: £0</h5>
                                    <button type="submit" id="payAll" class="btn btn-primary">Pay All</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <a href="#" class="bi bi-search" data-bs-toggle="modal" data-bs-target="#searchItemModel">Search</a>
                    {% csrf_token %}
                    <div class="modal fade" id="searchItemModel" tabindex="-1" aria-labelledby="searchLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="searchLabel">Search the item</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="searchForm">
                                        {% csrf_token %}
                                        <label for="searchKeyword">Search by keyword</label>
                                        <input type="text" class="form-control" id="searchKeyword" name="searchKeyword" step="0.01" required>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" onclick="submitSearchForm()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <a href="{% url 'logout' %}" class="bi bi-box-arrow-left">Logout</a>
            </div>
        </div>
        <div class="card-container">
        <!-- 商品卡片 -->
            {% for item in items %}
                {% csrf_token %}
                <div class="card" style="width: 18rem; float: left; margin: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.itemname }}</h5>
                        <input type="hidden" name="itemid" id="hiddenItemId" value="{{ item.itemid }}">
                        <p class="card-text" id="price_{{ item.itemid }}">Price: £{{ item.price }}</p>
                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                        <input type="number" class="form-control quantity-input" id="quantity_{{ item.itemid }}" name="numofitem_{{ item.itemid }}"
                               step="1" value="1" min="1" required onchange="updatePrice('{{ item.itemid }}', '{{ item.price }}')">
                        <button onclick="addToCart('{{ item.itemid }}')" class="btn btn-primary">Add to Cart</button>
                        <button onclick="checkWalletAndRedirect({{ item.price }}, '{{ item.itemid }}', this)"
                                data-item-price="{{ item.price }}" class="btn btn-success">Pay Now</button>
                    </div>
                </div>
            {% empty %}
                <p>No items found.</p>
            {% endfor %}
        </div>
    </div>

    <footer class="footer mt-5 py-3 bg-white">
        <div class="container text-center">
            <span class="text-muted">© Our Website Name</span>
        </div>
    </footer>
    <!--Bootstrap JavaScript-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/my.js' %}"></script>
    <script type="text/javascript">
        var csrftoken = '{{ csrf_token }}';
    </script>
</body>
</html>