{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sign Up Success</title>
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/icon.jpg' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh hw5.css"
        crossorigin="anonymous">
{#    <link rel="stylesheet" type="text/css" href="{% static 'rideshare/style.css' %">#}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <h1>
        SIGN UP SUCCESS! <span id="time">5</span>s move to login...
    </h1>
    <script>
        onload=function () {
            setInterval(go,1000)
        };
        var x=4;
        function go() {

            if (x>=0){
                document.getElementById("time").innerText=x;
            }else {
                location.href="{% url 'login' %}";
            }
            x--;
        }
    </script>
    <!--  Include jQuery then bootstrap js.  Use the full version of jQuery (not slim) so it includes Ajax  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/my.js' %}"></script>
</body>
</html>