body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
/* */
.card {
    border-radius: 0.5rem;
}

.rounded-4 {
    border-radius: 2.0rem !important;
}

.rounded-5 {
    border-radius: 0.6rem !important;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}