body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

html {
    position: relative;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.hello-wallet {
    display: flex;
    align-items: center;
}


.card {
    border-radius: 0.5rem;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.card-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    max-height: 600px;
    overflow-y: auto;
}

.rounded-4 {
    border-radius: 2.0rem !important;
}

.rounded-5 {
    border-radius: 0.6rem !important;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.container-fluid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
}

.custom-button-container .custom-button {

    width: auto;
    height: auto;
    background-color: initial;
    color: initial;
    text-decoration: none;
}


.home-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: calc(100vh - 100px);
    gap: 10px;
}

.home-button-container a {
    width: 200px;
    height: 200px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: 50px;
}

#icon {
    border-radius: 50%;
    display: block;
    margin-right: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #0a3622;
    color: #0a3622;
}

.img-large {
    width: 100%;
    height: auto;
}

.bi {
    font-size: 1.5rem;
}

span {
    text-align: center;
}

.maindiv {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    /*background: rgba(155, 155, 155, 0.9);*/
    align-items: flex-start;

}

.manager-button-container {
    display: flex;
    flex: 0 0 200;
    min-width: 150px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.manager-button-container a {
    width: 200px;
    height: 200px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.table-responsive {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th {
    background-color: #2b3035;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #4d5154;
    white-space: nowrap;
}

.table td {
    background-color: #4d5154;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #4d5154;
    white-space: nowrap;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #2b3035;
    z-index: 10;
    border-top: none;
}

#cartItemsContainer .card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
}

.card-body {
    padding: 20px;
    background-color: #fff;
}

.card-title {
    margin-bottom: 15px;
    color: #333;
}

.card-text {
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
}

#totalPrice {
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

.np-button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

